<header class="topbar">

    <div class="topbar-brand">
        <a href="/" class="site-title">
            Career & Lifelong Learning Pathway
        </a>
    </div>


    <form class="search-form">

        <label for="search" class="sr-only">
            Search
        </label>

        <span class="search-icon">
            🔍
        </span>

        <input
            type="search"
            id="search"
            name="search"
            class="search-input"
            placeholder="Search resources, skills, curators..."
        >

    </form>


    <button class="account-button" type="button">
        <span class="account-icon">♙</span>
        Account
    </button>

</header>